In [1]:
import numpy as np
import pandas as pd

In [5]:
alonhadat_df = pd.read_csv("alonhadat.csv")

In [6]:
alonhadat_df.head()

,url,address,Latitude,Longitude,facade,direction,age,area,bedroom,bathroom,floors,house_type,price,additional_info
0,https://alonhadat.com.vn/sieu-hiem-view-tttm-t...,"Phố Tố Hữu, Dương Nội, Hà Đông Đường Tố Hữu, ...",209.820.679,1.057.556.341,4.5,NaN,NaN,55.0,5.0,NaN,6.0,Nhà mặt tiền,7.65,AdditionalInfo(street_size=[25.0])
1,https://alonhadat.com.vn/chu-thien-chi-ban-gap...,"Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa...",210.092.389,1.058.242.302,3.5,NaN,NaN,35.0,7.0,NaN,5.0,Nhà mặt tiền,8.8,AdditionalInfo(street_size=[15.0])
2,https://alonhadat.com.vn/ban-nha-view-ho-thach...,"Đường Thạch Bàn, Phường Thạch Bàn, Quận Long ...",210.218.618,1.059.085.869,5.0,NaN,NaN,30.0,3.0,NaN,5.0,Nhà trong hẻm,2.6,AdditionalInfo(street_size=[3.5])
3,https://alonhadat.com.vn/ban-nha-dep-thuy-khue...,"Đường Thụy Khuê, Phường Thụy Khuê, Quận Tây H...",2.104.272,1.058.241.554,4.8,NaN,NaN,48.0,5.0,NaN,4.0,Nhà trong hẻm,4.0,AdditionalInfo(street_size=[3.0])
4,https://alonhadat.com.vn/ban-nha-pho-trung-kin...,"80 Phố Trung Kính, Phường Yên Hòa, Quận Cầu G...",21.015.593,105.794.929,NaN,NaN,NaN,85.0,NaN,NaN,6.0,Nhà trong hẻm,22.0,AdditionalInfo(street_size=[0.0])

In [9]:
alonhadat_df.columns

Index(['url', 'address', 'Latitude', 'Longitude', 'facade', 'direction', 'age',
       'area', 'bedroom', 'bathroom', 'floors', 'house_type', 'price',
       'additional_info'],
      dtype='object')

In [10]:
alonhadat_df.dtypes

url                 object
address             object
Latitude            object
Longitude           object
facade             float64
direction           object
age                float64
area               float64
bedroom            float64
bathroom           float64
floors             float64
house_type          object
price               object
additional_info     object
dtype: object

In [39]:
def convert_titude(titude, shift):
    raw = float(titude.replace(".",""))
    number = np.floor(np.log10(raw)) - shift
    return raw / 10** number


convert_titude("21.443.432", 1)

21.443432

In [30]:
alonhadat_df['Latitude'] = alonhadat_df['Latitude'].apply(convert_titude)
alonhadat_df['Longitude'] = alonhadat_df['Longitude'].apply(convert_titude)

In [42]:
alonhadat_df.head()

,url,address,Latitude,Longitude,facade,direction,age,area,bedroom,bathroom,floors,house_type,price,additional_info
0,https://alonhadat.com.vn/sieu-hiem-view-tttm-t...,"Phố Tố Hữu, Dương Nội, Hà Đông Đường Tố Hữu, ...",20.982068,105.755634,4.5,NaN,NaN,55.0,5.0,NaN,6.0,Nhà mặt tiền,7.65,AdditionalInfo(street_size=[25.0])
1,https://alonhadat.com.vn/chu-thien-chi-ban-gap...,"Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa...",21.009239,105.824230,3.5,NaN,NaN,35.0,7.0,NaN,5.0,Nhà mặt tiền,8.8,AdditionalInfo(street_size=[15.0])
2,https://alonhadat.com.vn/ban-nha-view-ho-thach...,"Đường Thạch Bàn, Phường Thạch Bàn, Quận Long ...",21.021862,105.908587,5.0,NaN,NaN,30.0,3.0,NaN,5.0,Nhà trong hẻm,2.6,AdditionalInfo(street_size=[3.5])
3,https://alonhadat.com.vn/ban-nha-dep-thuy-khue...,"Đường Thụy Khuê, Phường Thụy Khuê, Quận Tây H...",21.042720,105.824155,4.8,NaN,NaN,48.0,5.0,NaN,4.0,Nhà trong hẻm,4.0,AdditionalInfo(street_size=[3.0])
4,https://alonhadat.com.vn/ban-nha-pho-trung-kin...,"80 Phố Trung Kính, Phường Yên Hòa, Quận Cầu G...",21.015593,105.794929,NaN,NaN,NaN,85.0,NaN,NaN,6.0,Nhà trong hẻm,22.0,AdditionalInfo(street_size=[0.0])

In [41]:
alonhadat_df.to_excel("format_long_la.xlsx")

In [37]:
alonhadat_df = pd.read_excel("format_long_la.xlsx", index_col=0)

In [38]:
alonhadat_df.dtypes

url                 object
address             object
Latitude           float64
Longitude          float64
facade             float64
direction           object
age                float64
area               float64
bedroom            float64
bathroom           float64
floors             float64
house_type          object
price               object
additional_info     object
dtype: object

In [40]:
alonhadat_df['Latitude'] = alonhadat_df['Latitude'].apply(lambda x : x / 10)