# Preprocess data from batdongsan website

In [33]:
%pwd

'd:\\OneDrive - Hanoi University of Science and Technology\\HUST\\CLASS\\20211\\DataScience\\Project\\Test_alonhadat'

In [2]:
%cd ..

d:\OneDrive - Hanoi University of Science and Technology\HUST\CLASS\20211\DataScience\Project\Test_alonhadat

In [3]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import numpy as np

In [4]:
spark = SparkSession.builder.appName('Clean Data').getOrCreate()

In [5]:
folder = 'resources/data/final/'
files = [ "bds_lat_long.csv", "alo_nha_dat_lat_long.csv", "out_department_lat_long.csv", "out_house_lat_long.csv"]
files_path = [folder + file for file in files]

In [18]:
files_path

['resources/data/final/bds_lat_long.csv',
 'resources/data/final/alo_nha_dat_lat_long.csv',
 'resources/data/final/out_department_lat_long.csv',
 'resources/data/final/out_house_lat_long.csv']

In [6]:
schema = StructType([
    StructField('address', StringType(), True),
    StructField('facade', FloatType(), True),
    StructField('direction', StringType(), True),
    StructField('area', FloatType(), True),
    StructField('bedroom', IntegerType(), True),
    StructField('bathroom', IntegerType(), True),
    StructField('floors', IntegerType(), True),
    StructField('house_type', StringType(), True),
    StructField('price', FloatType(), True),
    StructField('street_size', FloatType(), True),
    StructField('lat', FloatType(), True),
    StructField('lng', FloatType(), True),
])

In [7]:
spark

In [8]:
bds_df = spark.read.csv("resources/data/final/bds_lat_long.csv", header=True)

## Convert Type

In [10]:
cvt = {"StringType" : 'str',
 "FloatType" : 'float',
 "IntegerType" : 'int'}

sql_cvt = [f"cast({field.name} as {cvt[str(field.dataType)]})  {field.name}" if str(field.dataType) != 'StringType' else f"{field.name}" for field in schema.fields ]

bds_df_cast = bds_df.selectExpr(*sql_cvt)

In [11]:
bds_df_cast.show()

+--------------------+------+---------+------+-------+--------+------+--------------------+-----+-----------+--------+---------+
|             address|facade|direction|  area|bedroom|bathroom|floors|          house_type|price|street_size|     lat|      lng|
+--------------------+------+---------+------+-------+--------+------+--------------------+-----+-----------+--------+---------+
| Nam Từ Liêm, Hà ...|   4.3| Đông-Nam|  40.0|      6|       4|     5|       Bán nhà riêng| 2.85|       null|21.00813| 105.7665|
| Dự án The Link 3...|  null|     null|  72.0|      2|       2|  null| Bán căn hộ chung cư| 2.88|       null|21.08525|105.78535|
| Dự án The Manor ...|  null|     null|  null|      4|       6|     5|Bán nhà mặt phố (...| 18.0|       null|20.98051|105.81113|
| Phố Liễu Giai, P...|   6.0|     null|  60.0|     12|    null|     7|Bán nhà mặt phố (...| 36.2|       40.0|21.03517|  105.815|
| Dự án Sunshine H...|  35.0|     null|1005.0|   null|    null|  null|Bán đất nền dự án...|12.06|       24.0|     0.0|      0.0|
| đường Mỹ Đình, P...|   5.0|     null|  47.5|      6|       4|     5|       Bán nhà riêng|  3.0|        3.0|21.01999|105.77649|
| Xã Phú Cát, Quốc...|   5.5|     null| 140.0|   null|    null|  null|             Bán đất| null|       null|20.97248|105.56048|
| Đường Nguyễn An ...|   5.0| Đông-Bắc|  60.0|      5|       5|     7|       Bán nhà riêng| 14.6|       null|20.99069|105.84494|
| Dự án Geleximco ...|   6.0|     null| 160.0|   null|    null|     4|Bán nhà biệt thự,...| null|       42.0|20.98215|105.74229|
| Dự án Vinhomes S...|  null| Đông-Nam|  80.0|      2|       2|  null| Bán căn hộ chung cư|  3.4|       null| 21.0196|105.78084|
| Dự án Vinhomes S...|  null|     null|  65.0|      2|       2|  null| Bán căn hộ chung cư| 1.75|       null|21.00816|105.73864|
| Đường Nguyễn Khá...|   8.6|  Tây-Nam|  96.5|      4|       3|     3|Bán nhà biệt thự,...| 14.0|        7.5|21.03807|105.80397|
| Số 12B, ngách 31...|   5.0| Đông-Nam|  55.0|      4|       3|     4|       Bán nhà riêng|  5.0|        2.0|20.99812|105.85794|
| Dự án Vinhomes R...|  null|  Tây-Bắc| 322.0|   null|    null|  null|Bán nhà biệt thự,...|57.96|       null|21.04247|105.91277|
| Dự án Vinhomes O...|  null|     null|  76.6|      3|       2|  null| Bán căn hộ chung cư|  2.5|       null|20.98592|105.93454|
| Dự án Jade Orchi...|  null|     null| 129.5|      4|    null|  null| Bán căn hộ chung cư|  4.6|       null|21.07552|105.78441|
| Dự án Mỹ Đình Pe...|  null|     null|  50.0|   null|    null|  null| Bán căn hộ chung cư|  1.9|       null|21.01109|105.77129|
| Dự án KĐT Tây Hồ...|  30.0|     null| 350.0|   null|    null|  null|Bán nhà biệt thự,...|105.0|       13.0|21.05182|105.79776|
| Dự án Louis City...|   5.0|      Bắc| 112.0|   null|    null|     5|Bán nhà biệt thự,...| 15.2|       13.5|20.98837|  105.857|
| Dự án 6th Elemen...|  null|     null|  83.0|      2|       2|  null| Bán căn hộ chung cư| 3.65|       null|21.05138|105.79911|
+--------------------+------+---------+------+-------+--------+------+--------------------+-----+-----------+--------+---------+
only showing top 20 rows

In [22]:
bds_df_cast.printSchema()

bds_df_cast.count()

root
 |-- address: string (nullable = true)
 |-- facade: float (nullable = true)
 |-- direction: string (nullable = true)
 |-- area: float (nullable = true)
 |-- bedroom: integer (nullable = true)
 |-- bathroom: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- house_type: string (nullable = true)
 |-- price: float (nullable = true)
 |-- street_size: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)

29612

## Remove some null value

In [26]:
# remove null address, price or lat/lng

bds_df_cast = bds_df_cast.filter("address is not NULL")\
    .filter("price is not NULL")\
    .filter("lat != 0.0")\
    .filter("area is not NULL")
    
print("Number of rows after filter: ", bds_df_cast.count())

Number of rows after filter:  24745

In [27]:
bds_df_cast.describe().show()

+-------+--------------------+-----------------+---------+------------------+-----------------+-----------------+------------------+--------------------+----------------+------------------+------------------+------------------+
|summary|             address|           facade|direction|              area|          bedroom|         bathroom|            floors|          house_type|           price|       street_size|               lat|               lng|
+-------+--------------------+-----------------+---------+------------------+-----------------+-----------------+------------------+--------------------+----------------+------------------+------------------+------------------+
|  count|               24745|            13970|     7065|             24745|            16136|            13486|             13203|               24745|           24745|             11495|             24745|             24745|
|   mean|                null|7.239799565627222|     null|249.45406749591993|4.441001487357462|4.034850956547531| 4.876088767704309|                null|48.6359532118169|10.214472378995845|21.041078446219245|105.72833813193061|
| stddev|                null| 16.6714411280261|     null|10832.973754309225|5.445551733234051|5.255021223280822|2.1884632507968207|                null|3599.63708288331|13.408832208994134|0.9753299314860916| 2.843876711347019|
|    min| 1, Đường Triều K...|              0.5|      Bắc|               3.0|                1|                1|                 1| Bán căn hộ chung cư|         0.00134|              0.25|           11.6638|         -85.86953|
|    max| Ường Chùa Thiên ...|            922.0| Đông-Nam|         1200000.0|              234|              250|               110|Bán đất nền dự án...|        400000.0|             583.0|          59.35756|         107.11215|
+-------+--------------------+-----------------+---------+------------------+-----------------+-----------------+------------------+--------------------+----------------+------------------+------------------+------------------+

In [32]:
bds_df_cast.toPandas().to_csv("resources/data/final/clean/bds_lat_long_clean.csv", header=True)