In [1]:
%pwd

'd:\\OneDrive - Hanoi University of Science and Technology\\HUST\\CLASS\\20211\\DataScience\\Project\\Test_alonhadat\\pre-processing'

In [2]:
%cd ..

d:\OneDrive - Hanoi University of Science and Technology\HUST\CLASS\20211\DataScience\Project\Test_alonhadat

In [3]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
import numpy as np

In [4]:
spark = SparkSession.builder.appName('Clean Data').getOrCreate()

In [5]:
schema = StructType([
    StructField('address', StringType(), True),
    StructField('facade', FloatType(), True),
    StructField('direction', StringType(), True),
    StructField('area', FloatType(), True),
    StructField('bedroom', IntegerType(), True),
    StructField('bathroom', IntegerType(), True),
    StructField('floors', IntegerType(), True),
    StructField('house_type', StringType(), True),
    StructField('price', FloatType(), True),
    StructField('street_size', FloatType(), True),
    StructField('lat', FloatType(), True),
    StructField('lng', FloatType(), True),
])

In [6]:
spark

In [16]:
bds_df = spark.read.csv("resources/data/final/alo_nha_dat_lat_long.csv", header=True)

Convert Type

In [17]:
cvt = {"StringType" : 'str',
 "FloatType" : 'float',
 "IntegerType" : 'int'}

sql_cvt = [f"cast({field.name} as {cvt[str(field.dataType)]})  {field.name}" if str(field.dataType) != 'StringType' else f"{field.name}" for field in schema.fields ]

bds_df_cast = bds_df.selectExpr(*sql_cvt)
bds_df_cast = bds_df_cast.sample(0.4)

In [18]:
print("Number of rows: ", bds_df_cast.count())
bds_df_cast.printSchema()
bds_df_cast.show()

Number of rows:  23814
root
 |-- address: string (nullable = true)
 |-- facade: float (nullable = true)
 |-- direction: string (nullable = true)
 |-- area: float (nullable = true)
 |-- bedroom: integer (nullable = true)
 |-- bathroom: integer (nullable = true)
 |-- floors: integer (nullable = true)
 |-- house_type: string (nullable = true)
 |-- price: float (nullable = true)
 |-- street_size: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)

+--------------------+------+---------+-----+-------+--------+------+--------------------+-----+-----------+--------+---------+
|             address|facade|direction| area|bedroom|bathroom|floors|          house_type|price|street_size|     lat|      lng|
+--------------------+------+---------+-----+-------+--------+------+--------------------+-----+-----------+--------+---------+
| Đường Lê Trọng T...|   4.0| Đông Nam| 31.0|      3|    null|     3|        Nhà mặt tiền|  1.5|        3.0| 20.9629|105.76203|
| Quận Bắc Từ Liêm...|   8.0|     null|233.0|     58|    null|     9|        Nhà mặt tiền| 16.0|        5.0|21.06217|105.76941|
| Đường Hoàng Mai,...|   4.0|     null| 30.0|      3|    null|     5|       Nhà trong hẻm| 3.15|        2.0|20.98837|  105.857|
| Phố Phương Mai, ...|  null|     null| 78.0|      6|    null|     7|        Nhà mặt tiền| 18.0|        6.0|21.00546|105.83898|
| Đại lộ Thăng Lon...|   5.0|     null| 94.0|   null|    null|  null|   Đất thổ cư, đất ở|1.457|        5.0|20.98958|105.56879|
| Đường Minh Khai,...|   3.0|     null| 30.0|      2|    null|     3|       Nhà trong hẻm| 2.07|        2.0| 20.9948|105.85276|
| Đường Yên Xá, Ph...|   4.0|     null| 55.0|      1|    null|     1|        Nhà mặt tiền| 2.35|       30.0|20.97875| 105.7928|
| Đường Liên Xã, X...|  null|     null| 50.0|   null|    null|  null|   Đất thổ cư, đất ở| 0.79|       null|20.91702|105.89807|
| Xã Thuỷ Xuân Tiê...|  null|     null| 1.26|   null|    null|  null|   Đất thổ cư, đất ở|  3.6|        6.0|20.90422|105.60292|
| Quận Hà Đông, Hà...|  null|     null| 64.0|      4|    null|     4|Biệt thự, nhà liề...| 7.25|        6.0|20.97382|105.77916|
| Đường Cầu Diễn, ...|   7.0|     null| 70.0|     12|    null|     7|        Nhà mặt tiền|  7.8|        7.0|21.04534|105.75826|
| Phố Hoàng Cầu, P...|   5.8|     null| 67.0|      5|    null|     4|       Nhà trong hẻm|  6.5|        2.0|21.01857|105.82391|
| Đường Lê Quang Đ...|   4.0|     null|110.0|      3|    null|     2|   Đất thổ cư, đất ở|  5.8|        2.0|21.01304|105.76635|
| cầu diễn Đường V...|  null|     null| 54.0|   null|    null|  null|   Đất thổ cư, đất ở| 2.55|        3.0|21.05258|105.73961|
| Đường Đào Tấn, P...|  null|     null| 48.0|      4|    null|     6|       Nhà trong hẻm|  7.1|        2.5| 21.0324|105.80723|
| Đường Mậu Lương,...|   4.0|     null| 34.0|      3|    null|     5|        Nhà mặt tiền|  3.3|        7.0|20.95626|105.79409|
| Phố Lê Trọng Tấn...|   4.0|     null| 60.0|      1|    null|     1|       Nhà trong hẻm| 8.99|        7.0|20.99603|105.82993|
| Đường Ngọc Thụy,...|   6.7|     null| 73.0|      3|    null|     3|        Nhà mặt tiền|  5.5|        5.0|21.06359|105.87121|
| Phố Trung Kính, ...|   4.0|     null| 63.0|      6|    null|     5|       Nhà trong hẻm|  6.1|        4.0|21.01355|105.80049|
| SN 18 Ngõ 265 Đư...|   4.0|     null| 55.0|   null|    null|     5|   Đất thổ cư, đất ở|  4.5|        3.0| 20.9929|105.79328|
+--------------------+------+---------+-----+-------+--------+------+--------------------+-----+-----------+--------+---------+
only showing top 20 rows

Remove some null value

In [19]:
# remove null address, price or lat/lng

bds_df_cast = bds_df_cast.filter("address is not NULL")\
    .filter("price is not NULL")\
    .filter("lat != 0.0")\
    .filter("area is not NULL")
    
print("Number of rows after filter: ", bds_df_cast.count())

Number of rows after filter:  23758

In [20]:
bds_df_cast = bds_df_cast.sample(0.3)

In [21]:
bds_df_cast.describe().show()

+-------+--------------------+------------------+---------+-----------------+-----------------+--------+------------------+--------------------+-----------------+------------------+--------------------+------------------+
|summary|             address|            facade|direction|             area|          bedroom|bathroom|            floors|          house_type|            price|       street_size|                 lat|               lng|
+-------+--------------------+------------------+---------+-----------------+-----------------+--------+------------------+--------------------+-----------------+------------------+--------------------+------------------+
|  count|                7088|              5141|      409|             7088|             6600|       0|              6648|                7088|             7088|              7018|                7088|              7088|
|   mean|                null| 6.468799837424908|     null|83.84149647292179|5.586515151515152|    null| 4.943441636582431|                null|18.97988913084407|  9.91288116259193|    21.0171036593801|105.81985950147056|
| stddev|                null|11.064297279816232|     null|84.16933124452396|6.787205722288584|    null|2.5480705377847284|                null|44.09769445766946|12.495080266315066|0.033054356887698935|0.0471114261492678|
|    min| 00 Phố Trạm, Phư...|               0.0|      Bắc|              1.0|                1|    null|                 1|Biệt thự, nhà liề...|         0.002808|               0.0|            20.79243|         105.40455|
|    max| đống đa.hà nội Đ...|             500.0| Đông Nam|            980.0|              150|    null|               105|   Đất thổ cư, đất ở|            950.0|             200.0|            21.27702|         107.07684|
+-------+--------------------+------------------+---------+-----------------+-----------------+--------+------------------+--------------------+-----------------+------------------+--------------------+------------------+

In [23]:
bds_df_cast.toPandas().to_csv("resources/data/final/clean/alo_nha_dat_lat_long_clean.csv", header=True)